{% extends 'base.html' %}
{%block content%}

{% for blog in blogs.all%}
 <div class = "container">
     <br><br>
    <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{blog.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{blog.pub_date}}</h6>
              <p class="card-text">{{blog.summary}}</p>
              <a href="{%url 'detail' blog.id%}" class="card-link">...more</a>
             
            </div>
    </div>



</div>


{%endfor%}
{% endblock %}



